.TotaleAdd{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 30%;
}
input{
    border-radius: 6px;
    border: 1px solid black;
    overflow: hidden;
    padding: 10px;
}

.form{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow:hidden; 
    width: 100%;
    text-align: center;
}
button{
    padding: 10px;
    background-color: rgba(26, 161, 26, 0.822);
    color: white;
    border: hidden;
    border-radius: 6px;
    width: 130px;
    margin-left: 25%;
}