h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    
}

.Nav{
    text-align: start;
    background-color: white;
    display: flex;
    padding: 30px;
}